body{
    background-image: url(images/bg-desktop.svg);
    background-color:hsl(257, 40%, 49%) ;
    
}
h1{
    color:#fff;
    margin-left: 800px;
    transform: translateY(130px);
    font-family: sans-serif;
}
p{
    color: #fff;
    margin-left: 800px;
    transform: translateY(130px);
}
.ire{
    transform: translateY(-130px);
}
h3{
    border-radius: 25px;
    padding: 12px;
    border:2px solid white;
    background-color: white;
    margin-left: 790px;
    width: 150px;
    transform: translateY(-380px);
    text-align: center;
    color:hsl(257, 40%, 49%) ;
}
@media screen and (max-width: 768px) {
    /* p{ width:100%; } */
     h3{ width:60%; margin:0; border:none; transform: translateY(150px);margin-left: 50px; }
    h1{ width:80%; margin:0; border:none;transform: translateY(450px); margin-left: 50px;  }
     p{ width:85%; margin:0; border:none;transform: translateY(450px); margin-left: 50px;   }
     .ire{ width:100%; margin:0; border:none; transform: translateY(-40px);  }
     .icon{
        justify-content: center;
        transform: translateY(200px);
    }
    
}
.icon{
    display: flex;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}
.fab{ 
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    margin:20px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    text-decoration: none;
    
}